name: Terraform tests
on:
  merge_group:
  pull_request:
  push:
    paths:
      - configs/**
      - '**.tf'
      - .github/workflows/terraform_tests.yaml
jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.1.7
      - uses: medyagh/setup-minikube@latest
        with:
          minikube-version: 1.37.0
      - name: Setup Golang
        uses: actions/setup-go@v5
        with:
          go-version: stable
      - run: minikube tunnel &> /dev/null &
      - run: terraform init
      - run: terraform apply -auto-approve